<div class="container" [class.norte]="region==='norte'"  [class.centro]="region==='centro'"  [class.sur]="region==='sur'">
    <app-menu></app-menu><div class="row">
        <div class="col">
          <h1 style="color: white">
            Somos <br />
            Fabrica
          </h1>
          <!-- <p> </p> -->
          <button type="button">Explore</button>
        </div>

        <div class="col">
          <div class="card card1" > 
            <h5>foto1</h5>
          </div>

          <div class="card card2">
            <h5>foto2</h5>
          </div>

          <div class="card card3">
            <h5>foto3</h5>
          </div>

          <div class="card card4">
            <h5>foto4</h5>
          </div>
        </div>
      </div>
</div>

